<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.unb.mobiledev.budgetingapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BudgetingApp">
<!--        android:theme="@style/Theme.BudgetingApp">-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.income.AddIncomeActivity"
            android:label="@string/title_add_income">
        </activity>

        <activity android:name=".ui.expenses.AddExpenseActivity"
            android:label="@string/title_add_expense">
        </activity>

        <activity android:name=".ui.calendar.CalendarActivity"
            android:label="@string/title_calendar_details">
        </activity>

        <activity android:name=".ui.income.IncomeDetailsActivity"
            android:label="@string/title_income_details">
        </activity>

        <activity android:name=".ui.expenses.ExpenseDetailsActivity"
            android:label="@string/title_expense_details">
        </activity>

    </application>

</manifest>